*.py[co]

# Packages
*.egg
*.egg-info
dist
build
eggs

develop-eggs

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
.project
htmlcov

.DS_Store

.cache
.eggs

docs/_build
/venv/
/.idea/